@model IEnumerable<LocadoraES.Models.Genero>
@{
    ViewBag.Title = "Genero";
}

@using (Html.BeginForm("ApagarGenero", "Genero", FormMethod.Get))
{
    <br />
    <br />
    <br />
    <div class="container">
        <h2>Lista de gêneros</h2>
        @Html.ValidationSummary(true)
        <table class="table">
            <tbody>
                <tr>
                <tr>
                    <th>
                        <label>Nome</label>
                    </th>
                    <th>
                        <label>Data de criação</label>
                    </th>
                    <th>
                        <label>Ativo</label>
                    </th>
                    <th>
                        <label>Excluir</label>
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label for="@item.Nome">@item.Nome </label>
                            </td>
                            <td>
                                <label for="@item.Nome">@item.DhCriacao.ToString("dd-MM-yyyy") </label>
                            </td>
                            <td>
                                @if (item.FlAtivo == true)
                                {
                                    <label> Sim </label>}
                                else
                                {
                                    <label> Não </label>}
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="Id"
                                       value="@item.Id" id="@item.Id" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @Html.ActionLink("Cadastrar Gênero", "CadastroGenero", "Genero", new { @class = "btn btn-default" })
        <input type="submit" value="Excluir" class=" btn btn-default" />
    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}