<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Locadora </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <container>
        <div class="navbar navbar-inverse navbar-fixed-top navbar-dark" >
            <div class="container-fluid" style="margin: 11px">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Filmes", "Index", "Filme", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Gêneros", "Index", "Genero", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Locação", "Index", "Locacao", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Alterar senha", "AlterarSenha", "PerfilManage")</li>
                                    <li>@Html.ActionLink("Sair", "Logout", "Autenticacao")</li>

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Autenticacao", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Cadastre-se", "Cadastrar", "Autenticacao", new { area = "" }, new { @class = "navbar-brand" })</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </container>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>